<div class="dashboard">
  <div class="bar">
    <h2>Welcome {{username}}!</h2>
    {{!-- <h2>{{petCount}}</h2> --}}
    <div class="pet-buttons">
      {{#checkPetCount petCount}}{{/checkPetCount}}
      {{#if pets}}
        <button type="button" id="delete-pet"><i
            class="fa-solid fa-trash"
          ></i></button>
      {{/if}}
    </div>
  </div>

  <div class="pets-view">
    {{#if pets}}
      <h2>Your Pets:</h2>
      <div class="your-pets">
        {{#each pets as |pet|}}
          <div class="pet">
            <a href="./pets/{{pet.id}}">
              <img
                class="pet-portrait"
                width="150"
                height="150"
                src="/images/pets/{{pet.pet_type}}/{{pet.pet_color}}/pixel_{{pet.pet_type}}.png"
                alt="{{pet.pet_type}} portrait"
              />
            </a>
            <h3>{{pet.pet_name}} the {{pet.pet_type}}</h3>
            {{#checkHunger pet.hunger_level}}{{/checkHunger}}
            {{#checkEnergy pet.energy_level}}{{/checkEnergy}}
            {{#checkFriendship pet.friendship_level}}{{/checkFriendship}}
          </div>
        {{/each}}
      </div>
    {{else}}
      <h2>No pets yet! Create one!</h2>
    {{/if}}
  </div>
</div>

{{! we should change this to a modal when we start styling }}

<div class="pet-creation modal">
  <button type="button" id="create-close"><i
      class="fa-solid fa-xmark"
    ></i></button>
  <div class="modal-container">
    <form id="create-pet-form">
      <h2>Select a pet!</h2>
      <div class="pet-choices">
        <label>
          <input type="radio" name="pet-type" value="Mouse" id="1" />
          <img
            id="mouse-portrait"
            width="100"
            height="100"
            src="/images/pets/mouse/white/pixel_mouse.png"
            alt="pixel mouse portrait"
          />
        </label>
        {{! <label>
                    <input type="radio" name="pet-type" value="Pig" id="2">
                    <img id="pig-portrait" width="100" height="100" src="/images/pets/pixel_pig.png" alt="pixel pig portrait">
                </label> }}
        {{! <label>
                    <input type="radio" name="pet-type" value="Tiger" id="3">
                    <img id="tiger-portrait" width="100" height="100" src="/images/pets/pixel_tiger.png" alt="pixel tiger portrait">
                </label> }}
        <label>
          <input type="radio" name="pet-type" value="Penguin" id="4" />
          <img
            id="penguin-portrait"
            width="100"
            height="100"
            src="/images/pets/penguin/white/pixel_penguin.png"
            alt="pixel penguin portrait"
          />
        </label>
        {{! so far, only the mouse has the most pictures and animations }}
      </div>

      <div class="choose-pet-color">
        <label for="pet-color">Choose a color:</label>
        <select id="pet-color" name="pet-color" onchange="changeColor()">
          <option value="white">White</option>
          <option value="pink">Pink</option>
          <option value="orange">Orange</option>
        </select>
      </div>

      <div class="enter-name">
        <label for="pet-name">Enter a name:</label>
        <input type="text" id="pet-name" />
      </div>

      <button type="submit">Create</button>
    </form>
  </div>
</div>

<div class="pet-deletion modal">
  <button type="button" id="delete-close"><i
      class="fa-solid fa-xmark"
    ></i></button>
  <div class="modal-container">
    <form id="delete-pet-form">
      <h2>Select a pet!</h2>
      <div class="select-pet-delete">
        <label for="sel-pet-del">Choose a pet:</label>
        <select id="sel-pet-del" name="sel-pet-del">
          {{#if pets}}
            {{#each pets as |pet|}}
              <option value="{{pet.id}}">{{pet.pet_name}}</option>
            {{/each}}
          {{/if}}
        </select>
      </div>

      <button type="submit">Delete</button>
    </form>
  </div>
</div>

{{#checkPetCountScript petCount}}{{/checkPetCountScript}}

{{#if pets}}
  <script src="/js/delete-pet.js"></script>
{{/if}}

{{! later if i get the store and inventory system working, i want to add like special colors that could be applied to the pets. Like a special rainbow color
or a holiday theme. Or maybe i can figure out how to add little hats to the pets lol }}