<main class="pet-dashboard">
    <section class="pet-specs">
      <h2 id="pet-type" data-pettype="{{pet.pet_type}}" data-petcolor="{{pet.pet_color}}">{{pet.pet_name}} the {{pet.pet_type}}</h2>
      <div class="pet-stats">
        <div class="hunger-stats">
          <h3>Hunger:</h3>
          <div class="hunger-bar">
            <div class="hunger-load" id="hunger" value="{{pet.hunger_level}}" style="width:{{pet.hunger_level}}%"></div>
          </div>
        </div>
        <div class="energy-stats">
          <h3>Energy:</h3>
          <div class="energy-bar">
            <div class="energy-load" id="energy" value="{{pet.energy_level}}" style="width:{{pet.energy_level}}%"></div>
          </div>
        </div>
        <div class="friendship-stats">
          <h3>Friendship:</h3>
          <div class="friendship-bar">
            <div class="friendship-load" id="friendship" value="{{pet.friendship_level}}" style="width:{{pet.friendship_level}}%"></div>
          </div>
        </div>
      </div>
      <div>
        <h2>Likes:</h2>
        <p class="favorite-food">{{pet.favorite_food}}</p>
        <h2>Dislikes:</h2>
        <p class="hated-food">{{pet.hated_food}}</p>
      </div>
    </section>
    <section class="pet-room">
      <img id="pet-gif" src="/images/pets/{{pet.pet_type}}/{{pet.pet_color}}/default.gif" oncontextmenu="return false" draggable="false" />
    </section>
    <section class="pet-buttons">
      <h2>Food:</h2>
      <div class="food-buttons">
        <button class="material-symbols-outlined feed" title="Cheese" value="Cheese">local_pizza</button>
        <button class="material-symbols-outlined feed" title="Carrot" value="Carrot">nutrition</button>
        <button class="material-symbols-outlined feed" title="Soop" value="Soop">soup_kitchen</button>
        <button class="material-symbols-outlined feed" title="Cookie" value="Cookie">cake</button>
        <button class="material-symbols-outlined feed" title="Lettuce" value="Lettuce">bakery_dining</button>
      </div>
      <h2>Play:</h2>
      <button type="button" id="play" class="material-symbols-outlined">videogame_asset</button>
      <h2>Sleep:</h2>
      <button type="button" id="nap" class="material-symbols-outlined">bedtime</button>
    </section>
</main>

<script src="/js/pet-care.js"></script>
